<h2>Validaciones Reactivas </h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" 
             [formGroup]="miformulario"
             (ngSubmit)="submitFormulario()" >

             <!-- NOMBRE-->
              <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre del Usuario">

                     <span class="form-text text-danger"
                        *ngIf="campoNoValido('nombre')">
                         Debe de ser en Formato de Nombre y Apellido
                     </span>
                  </div>
              </div>


                <!-- Email-->
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email"
                              class="form-control"
                              formControlName="email"
                              placeholder="Email del Usuario">

                        <span class="form-text text-danger"
                              *ngIf="campoNoValido('email')">
                            {{emailErrorMsg}}
                       </span>
                <!-- 
                      <span class="form-text text-danger"
                              *ngIf="emailRequerido()">
                               El correo es Obligatorio
                       </span>

                       <span class="form-text text-danger"
                            *ngIf="emailFormato()">
                                El valor ingresado no tiene formato de correo
                      </span>

                      <span class="form-text text-danger"
                            *ngIf="emailTomado()">
                            El correo electrónico ya fue tomado
                     </span> -->
                    </div>
                </div>

                     <!-- UserName-->
                     <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">UserName</label>
                        <div class="col-sm-9">
                          <input type="text"
                                  class="form-control"
                                  formControlName="username"
                                  placeholder="Nombre código del usuario">
                            
                          <span class="form-text text-danger"
                                *ngIf="campoNoValido('username')">
                                   El username no puede ser moradev
                           </span>
                        </div>
                    </div>

                   <!-- Password-->
                   <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password"
                              class="form-control"
                              formControlName="password"
                              placeholder="Contraseña de su usuario">

                         <span class="form-text text-danger"
                              *ngIf="campoNoValido('password')">
                               La contraseña debe de ser mayor 6 caracteres.
                         </span>
                    </div>
                </div>

            
                   <!-- Password2-->
                   <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Confirmar</label>
                    <div class="col-sm-9">
                      <input type="password"
                              class="form-control"
                              formControlName="password2"
                              placeholder="Confirmar la Contraseña ">

                      <span class="form-text text-danger"
                              *ngIf="campoNoValido('password2')">
                               Las contraseñas deben de ser iguales.
                     </span>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success btn-sm float-end"
                                [disabled]="miformulario.pending"
                                type="submit">
                            Crear
                        </button>
                    </div>
                </div>
    

        </form>
    </div>
</div>

<h2>Form Valid: {{miformulario.valid}}</h2>
<h2>Form status: {{miformulario.status}}</h2>
<h2>Form pending: {{miformulario.pending}}</h2>
<h2>Form errors</h2>
<pre> {{miformulario.errors | json}}</pre>

<h5>Nombre</h5>
<pre>{{miformulario.controls.nombre.errors | json}}</pre>

<h5>Email</h5>
<pre>{{miformulario.controls.email.errors | json}}</pre>

<h5>UserName</h5>
<pre>{{miformulario.controls.username.errors | json}}</pre>

<h5>Contraseña</h5>
<pre>{{miformulario.controls.password.errors | json}}</pre>

<h5>Confirmar Contraseña</h5>
<pre>{{miformulario.controls.password2.errors | json}}</pre>